<div class="details-body">
    <div class="back-action">
        <button class="back-btn" (click)="goBack()">
            Back
        </button>
    </div>
    <ng-container *ngIf="loadingState != 'error'; else noData">
        <div class="top-details-info">
            <h2 class="title"> {{ movieDetailsData.title }} </h2>
            <div class="img-summary-sec">
                <div class="img-part">
                    <img [src]="movieDetailsData.poster" alt="Movie Poster" class="poster-image">
                </div>
                <div class="summary-part">
                    <span class="summary-tag">Summary: </span> {{movieDetailsData.summary}}
                </div>
            </div>
        </div>
        <div>
            <div class="details-header">Details</div>
            <div>Box Office - {{ movieDetailsData.box_office | currencyFormat}}</div>
            <div>Budget - {{movieDetailsData.budget | currencyFormat}}</div>
            <div>Duration - {{movieDetailsData.duration | duration}}</div>
            <div>Producers - {{getNamesData(movieDetailsData.producers)}}</div>
            <div>Cinematographers - {{getNamesData(movieDetailsData.cinematographers)}}</div>
        </div>
    </ng-container>

    <ng-template #noData>
        <h2> No details found</h2>
    </ng-template>
</div>