li::marker {
    color: black;
}

form {
    background-color: #aaaaaa;
    margin-bottom: 25px;
}

.field {
    background-color: #dbd4d4;
    color: black;
}

label {
    color: black;
}

h4 {
    color: black;
}