<div>
    <form [formGroup]="filterForm">
        <h4>Filters</h4>
        <label for="title">Title </label>
        <input id="title" type="text" formControlName="title" class="input-field"> &nbsp;
        <label for="release-year">Release year </label>
        <input id="release-year" type="number" formControlName="releaseYear" class="input-field">
    </form>
</div>

<ul *ngIf="filteredMovies?.length">
    <li *ngFor="let movie of filteredMovies">
        <app-movie-property [movie]="movie" (detailsBtnClick)="navigateToDetailsPage($event)"></app-movie-property>
    </li>
</ul>